* {
  scroll-behavior: smooth!important;
}
.btn-main {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    background-color: black;
  }
  .btn-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
  }
  .btn-main:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-main:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }
  .box-3 { background-color: #66A182; }
  div[class*=box] {
    height: 33.33%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }

.hero-content{
    background: url('../assets/bisesh-gurung-DWZtqyxYU4s-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    max-width: 100%;
    filter:brightness(90%);
}

.hero-h1-content {
    color:#FFF;
    text-align:center;
}

.hero-h1-content h1 {
    font-size:50px;
    font-weight:500;
}

.hero-h1-content p {
    font-size:30px;
    font-weight:500;
    line-height: 10px;
}

.hero-button-best {
    position: absolute;
    bottom:10%;
}

.btn-down {
    background: url('../assets/down.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height:30px;
    max-width: 100%;
    position: relative;
    left:45%;
    top:10%;
}

.show {

    position: relative;
    transition: 0.8s ;
    left:0;
}
.hide {
    position: absolute;
    left:-158%;
}

/* //Card */
.card {
  background-color: #fff;
  max-width: 800px;
  box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #9E9E9E;
  border-radius: 3px;
  display: grid;
}

.card .img-container {
  width: 230px;
  height: 100%;
  grid-column: 2;
  background-color: #c1b7b4;
  background-image: url('../assets/fred-rivett-vloKy1It5Mg-unsplash.jpg');
  background-size: cover;
  background-position: center center;
}
.card-content {
  grid-column: 3 / 5;
  padding: 10px 30px;
  border-left: 1px solid #ccc;
}
h2 {
  text-transform: uppercase;
  color: #555;
}
h1 {
  margin-bottom: 0 !important;
  font-weight: 400 !important;
  line-height: 100%;
}
.card-content  {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  color: #555;
}


/* Small Card */
.card1 {
  border-radius: 5px;
  height:100%;
  padding:1rem;
  background-color: #cdcdcd;

}

.card-container {
  flex-direction: column;

}
.card1-img {
  background:url('../assets/mehdi-messrro-yef79KkAguA-unsplash\(1\).jpg');
  height: 229px;
  width:270px;
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card1-content {
  border-top: 1px solid #cdcdcd;
  font-weight: 700;
  color: #555;
}
h2 {
  margin-left:20px;
}

.break {
  flex-basis: 100%;
  width: 0;
}
.break-column {
  flex-basis: 100%;
  height: 0;
}

.card-container-row{
  flex-direction: column;
}