/*//////////////////////////////////////////////////// Card main Content ///////////////////////////////////////////////////*/
:root{
    --text-header:#222222;
    --text-paragraph:#716e6e;
    --background-container:rgb(255,255,255);
    --right-item-container:rgb(241, 239, 239);
}
body,html{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    background-color: #EBEBEB;
}
.heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  nav {
    display: flex;
    margin:0px;
    padding: 0%;
    justify-content: space-around; 
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color:#227093;
    font-family: 'Robotic', sans-serif;
    border-radius: 5px 5px 0px 0px;
  }

  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: lightseagreen;
  
  }
  
  .nav-links li a.active {
  
    /* background-color: #4caf50; */
  
  }



.body-content{
    width: 74%;
    margin: 0 auto;
    background-color: #EBEBEB;
}

  
  .heading {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
    display: flex;
  }
  .heading:hover{
     color: rgb(255, 255, 255);
     opacity: 65%;
     transition: cubic-bezier(0.075, 0.82, 0.165, 1);
     padding: auto;
  }
  .nav-links {
    font-size: 30px;
    display:flex;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    justify-content: space-around;
    width: 50%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color:whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing:0;
    font-weight: bold;
    font-size: 15px;
    padding: 15px 15px ;
  }
  .nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.617);
    opacity: 100%;
    padding: 20px;
    font-size: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-links:hover{
      opacity: 100%;
  }
  
  .nav-links li a.active {
    /* background-color: #4caf50; */
  }

.header-container {
    margin-bottom: 2%;
    background-color: rgb(235, 242, 248);
    border-bottom: 4px solid #e72929;
}

.header-inside-container {
    padding: 18px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
}

.heading-container{
    
    background-color: #afc9e4;
    margin-bottom: 15px;
}

.body-container{
    margin: 0 7%;
    width: 100%;
}

.float-left-container{
    background-color: #afc9e4;
    width: 74%;
    display: inline-flex;
    /* height: 100vh; */
    margin-bottom: 15px;
    margin-right: 10px;
}

.float-right-container{
    /* background-color: #afc9e4; */
    width:25%;
    float: right;
    /* overflow:auto; */
    /* margin-bottom: 15px; */
}

.fact-container{
    background-color: var(--background-container);
    width: 100%;
}
.fact-image{
    height: 100%;
}

.fact-image{
    background-color: blue;
    display: inline-block;
    vertical-align: middle;
}

.fact-text{
   
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 22px;
    line-height: 42px;
    color: var(--text-header);
    padding: 7px;
    letter-spacing: 0.5px;
}

.pic-main-content{
    width: 100%;
}

.right-content-container{
    background-color: var(--background-container);
    margin-bottom: 15px;
    padding: 20px;
    height: 113px;
    width: 129%;

}
.right-content-container-item{
    background-color: var(--background-container);
    margin-bottom: 15px;
    padding: 20px;
    
    width: 129%;
}
.right-content-container-links a{
    color: #ee5b5b;
    font-size: 24px;
    margin-left: 10px;
}
.fact-article-container{
    background-color: var(--background-container);
    padding: 40px;
}

.fact-article-container img{
    border-radius: 10px;
    width: 69%;
    margin:0px 0 20px 87px;
}
#fact-article-container-header-pic{
    
    margin: 0;
    width: 100% !important;
}
.right-content-container h4,.right-content-container-item h4 {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 34px ;
    margin-top: 0;
}

.right-content-container h4:after,.right-content-container-item h4::after {
   
    content: "";
    display: block;
    background-color: rgba(59,130,246,.5);
    height: 5px;
    width: 50px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;

   
    display: block;
   
    margin-block-start: 2%;
    margin-block-end: 2%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700 !important;
    line-height: 25px;
    font-size: 40px;;
    
    color:  --text-header;

}
h2{
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 38px;
    color: var(--text-header);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-paragraph);
    font-size: 18px;
    letter-spacing: 1px;
    word-spacing: 15px;
    margin-left: 26px;
}
.fact-article-container .ruler {
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: var(--grey);
}

.t-container{
    background-color: var(--right-item-container);
    width: 100%;
    margin-bottom: 10px;
}

.t-image-container{
   
    width: 24%;
    display: inline-block;
    vertical-align: middle;

    height: 100%;
}

.t-image-container-links{
    height: 80px;
    width: 89px;
}
.t-text-container{
   
    width: 74%;
    display: inline-block;
    vertical-align: middle;
}