body{
    stud liah
}

.container_ci_content {
    border-bottom: solid 4px #adcff2;
    height: 500px;
    background:linear-gradient(right )
}

.articles {
    background: linear-gradient(hsl(233, 26%, 24%) ,hsl(0, 0%, 0%));
    position: relative;
    left: 10%;
    margin-top: 2em;
    }
    
    .article
    {
        background-color:hsl(230,26%,9%);
    }
    
    .article__grid {
            display: grid;
            gap: 1.875rem;
            /* grid-template-columns: repeat(4, 1fr); */
           
            float: left;
            width: 25%;
            padding: 0 10px;
              
        }
    
        .article__item {
            background-color: hsl(233, 26%, 24%);
            border-radius: 0.3125rem;
            overflow: hidden;
            box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
            transition: all 150ms ease-in-out;
        }
        .article__item:hover {
            transform: scale(1.05);
        }
    
        .article__image {
            height: 12.5rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    
        .article__text {
            padding: 1.875rem 1.875rem 2.5rem 1.875rem;
            color: hsl(233, 8%, 62%);
        }
    
        .article__item {
            font-size:0.625rem;
            color: teal;
            margin-bottom: 0.75rem;
        }
    
        .article__title {
            font-size:1.0625rem;
            line-height: 1.2rem;
            color: teal;
            margin-bottom: 0.5rem;
        }
    
        .article__description {
            font-size: 0.8125rem;
        }
    