@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

/* CSS variables */
:root{
    --primary:rgb(164, 160, 160);
    --dark:rgb(149, 152, 153);
    --light:rgb(209, 183, 183);
    --shadow:0 1px 5px rgba(104,104,104,0.8);
    --palette-color-1: rgb(0, 0, 0);
    --palette-color-2: rgba(0, 0, 0, 0);
    --palette-color-3: rgb(34, 34, 34);
    --palette-color-4: rgb(235, 235, 235);
    --palette-color-5: rgb(55, 120, 187);
    --palette-color-6: rgb(94, 94, 94);
    --palette-color-7: rgb(253, 253, 253);
    --palette-color-8: rgb(255, 255, 255);
    --palette-color-9: rgb(241, 241, 241);
    --palette-color-10: rgb(39, 84, 131);
    --palette-color-11: rgb(235, 242, 248);
    --palette-color-12: rgba(0, 0, 0, 0.02);
    --palette-color-13: rgb(59, 89, 163);
    --palette-color-14: rgba(0, 0, 0, 0.2);
    --palette-color-15: rgb(8, 160, 233);
    --palette-color-16: rgb(200, 35, 44);
    --palette-color-17: rgb(37, 211, 102);
    --palette-color-18: rgb(255, 87, 0);
    --palette-color-19: rgb(247, 247, 247);
    --palette-color-20: rgb(0, 119, 181);
    --palette-color-21: rgb(197, 48, 48);
    --palette-color-22: rgb(23, 23, 23);
    --palette-color-23: rgb(22, 48, 75);
    
    
    --palette-font-1: Arial;
    --palette-font-2: Quicksand;
}

    
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    background-color: rgb(255, 255, 255);
    margin:30px 50px;
    line-height: 1.4;
}
nav {

    display: flex;
    margin:0px;
    justify-content: space-around; 
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 8vh;
    background-color: teal;
    font-family: 'Robotic', sans-serif;
  }
  
  .heading {
  
    color: white;
  
    text-transform: uppercase;
  
    letter-spacing: 5px;
  
    font-size: 20px;
  
  }
  
  .nav-links {
  
    display: flex;
  
    justify-content: space-around;
  
    width: 30%;
  
  }
  
  .nav-links li {
  
    list-style: none;
  
  }
  
  .nav-links a {
  
    color: white;
  
    text-decoration: none;
  
    letter-spacing: 3px;
  
    font-weight: bold;
  
    font-size: 14px;
  
    padding: 14px 16px;
  
  }
  
  .nav-links a:hover:not(.active) {
  
    background-color: lightseagreen;
  
  }
  
  .nav-links li a.active {
  
    background-color: #4caf50;
  
  }

/* header container */

.header-container {
    margin-bottom: 2%;
    padding: 10px;
    background-color: rgb(235, 242, 248);
    border-bottom: 4px solid rgb(55, 120, 187);
}
.header-inside-container {
    padding: 40px 20px;
    padding: 60px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
}
h1 {
    font-size: 50px;
    margin-bottom: 0;
    font-family: "Noto Sans", sans-serif;
}
h3{
    font-family: "Noto Sans", sans-serif;
    color: #50c6db;
}
/* end of header container */


.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem ;/* 1rem is 16px */
    text-decoration: none;
    border: 0;
}



a {
    color: inherit;
    text-decoration: none;
}
.content li{
    font-size: 19px;
    word-spacing: 1.5px;
    letter-spacing: 2.6px;
    line-height: 72px;
    font-weight: 500;
    color: rgb(123, 119, 119);
    /* list-style-type: none; */
}
.content_img{
    width: 464px !important;
    height: 227px;
    margin-left: 19%;
    border-radius: 10px;
}
/* container */

/* .container{
    
    border-radius: 20px;
    margin-top: 41%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 60px;
    /* display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
        ;
<<<<<<< HEAD
    grid-gap: 50px;
        background-color: #fff;
} */
=======
    grid-gap: 50px; */
    background-color:rgb(224, 227, 229);
}
>>>>>>> a253b87238ae951c0c70ae5b49676c09356eb668

/* Header */


/* Main Section */

.main {
    grid-area: main;
}

.main h2 {
    font-size: 32px;
    margin: 1rem 0;
    color: #50c6db;
}

.main p {
    font-size: 1rem;
    margin-bottom: .75rem;
  
}

.main img {
    width: 100%;
}


/* Sidebar */

.sidebar {
    
    width: 15%;
    position: absolute;
    grid-area: sidebar;
    padding: 20px;
    border-top: 6px solid #693f7e;
    background-color: #ffffff;
}
.sidebar_animal{
    top:52%;
}
.sidebar_places{
    top:97%;
}
.sidebar_food{
    top:142%;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 1rem;
  
}

.sidebar ul > li {
    font-size: 1.50rem;
    padding: .25rem 0;
}


/* Footer */

/* end of footer */

@media (max-width: 600px) {
    .container{
        /*  Redefine the grid into a single column layout. */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            ;
    }
}

/* Content Container */
.container_ci_content {

    height:80vh;
    background-color: #d4e5f6; 
}

<<<<<<< HEAD

/* Cards */
=======
.card-container{
    margin-left: 7%;
}

>>>>>>> a253b87238ae951c0c70ae5b49676c09356eb668
.articles {
    background: linear-gradient(hsl(233, 26%, 24%) ,hsl(0, 0%, 0%));
    /* position: relative; */
    left: 10%;
   top:10%;
   border-bottom: solid lightblue 4px;
    }
    
    .article
    {
        background-color:hsl(230,26%,9%);
    }
    
    .article__grid {
            display: grid;
            gap: 1.875rem;
            /* grid-template-columns: repeat(3, 1fr); */
            float: left;
            width: 30%; 
            padding: 0 10px;
              
        }
    
        .article__item {
            background-color: hsl(233, 26%, 24%);
            border-radius: 0.3125rem;
            overflow: hidden;
            box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
            transition: all 150ms ease-in-out;
        }
        .article__item:hover {
            transform: scale(1.05);
        }
    
        .article__image {
            height: 12.5rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    
        .article__text {
            padding: 1.875rem 1.875rem 2.5rem 1.875rem;
            color: hsl(233, 8%, 62%);
        }
    
        .article__item {
            font-size:0.625rem;
            color: teal;
            margin-bottom: 0.75rem;
        }
    
        .article__title {
            font-size:1.0625rem;
            line-height: 1.2rem;
            color: teal;
            margin-bottom: 0.5rem;
        }
    
        .article__description {
            font-size: 0.8125rem;
        }
    
/* Cards 3 in one */
        .container_ci_content_gl{
            display: grid;
            grid:
        'article1 article2 article3';
        }

/*//////////////////////////////////////////////////// Card main Content ///////////////////////////////////////////////////*/

.heading-container{
    background-color: #afc9e4;
    margin-bottom: 15px;
}

.body-container{
    margin: 0 7%;
    width: 100%;
}

.float-left-container{
    background-color: #afc9e4;
    width: 74%;
    display: inline-flex;
    /* height: 100vh; */
    margin-bottom: 15px;
    margin-right: 10px;
}

.float-right-container{
    background-color: #afc9e4;
    width:25%;
    float: right;
    /* overflow:auto; */
    /* margin-bottom: 15px; */
}

.fact-container{
    /* height:15px; */
    width: 100%;
    margin-bottom: 15px;
}

.fact-image{
    height: 75px;
    width: 75px;
    background-color: blue;
    display: inline-block;
}

.fact-text{
    /* display: inline-flex;
    text-align: justify;
     */
     padding: 40px 20px;
    padding: 60px 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: ABSOLUTE;
    TOP: 37%;
    LEFT: 11%;
    color: white;
}

.pic-main-content{
    width: 100%;
}

.right-content-container{
    background-color: #afc9e4;
    height:150px;
    margin-bottom: 15px;
}